@media screen and (max-width:767px) {
  /*画面サイズが767px以下の場合読み込む（スマホ）*/
    .book_image{
      width: 80px;
      height: 120px;
      justify-content:space-between;
    }
    .font{
      color: #34495E;
      font-weight:bold;
      font-size: 22px;
    }
    .books-title{
      color: #34495E;
      font-size: 16px;
      font-weight:bold;
    }
    .total-price{
      font-size: 12px;
      font-weight:bold;
    }
    .delete_btn{
      font-size: 11px;
    }
    .select{
      font-weight:bold;
      font-size: 17px;
    }
    .attention{
      color: #888;
      font-size: 17px;
    }
    .cart_empty{
      color: #888;
      font-size: 18px;
    }
    .top{
      font-size: 16px;
    }
    .top:hover {
      color: #ec7906;
    }
    .line{
      line-height:1em;
    }
    .line-item{
      font-weight:bold;
    }
    .shippingAddress-check{
      margin-top: 10px;
    }
  }
@media screen and (min-width:768px){
  /*画面サイズが768px以上の場合読み込む（PC）*/
    .book_image{
      width: 270px;
      height: 190px;
      justify-content:space-between;
    }
    .font{
      color: #34495E;
      font-size: 32px;
      font-weight:bold;
    }
    .books-title{
      color: #34495E;
      font-size: 24px;
      font-weight:bold;
      margin-left: 30px;
    }
    .total-price{
      font-weight:bold;
      margin-left: 30px;
    }
    .select{
      font-weight:bold;
      font-size: 19px;
    }
    .attention{
      color: #888;
      font-size: 20px;
    }
    .cart_empty{
      color: #888;
      font-size: 20px;
    }
    .top{
      font-size: 18px;
    }
    .top:hover {
      color: #ec7906;
    }
    .line{
      line-height:1em;
    }
    .line-item{
      font-weight:bold;
    }
  }