@media screen and (max-width:767px) {
  /*画面サイズが767px以下の場合読み込む（スマホ）*/
    .font{
      color: #34495E;
      font-weight:bold;
      font-size: 22px;
    }
    .complete{
      font-weight:bold;
    }
    .thanks{
      font-size: 15px;
      font-weight:bold;
    }
    .top{
      font-size: 16px;
    }
    .top:hover {
      color: #ec7906;
    }
    .rounded-circle {
      width: 170px;
    }
    .card-name{
      color: #34495E;
      font-size: 20px;
      margin-top: 20px;
    }
  }
@media screen and (min-width:768px){
  /*画面サイズが768px以上の場合読み込む（PC）*/
    .font{
      color: #34495E;
      font-size: 32px;
      font-weight:bold;
    }
    .complete{
      font-size: 22px;
      font-weight:bold;
    }
    .thanks{
      font-size: 20px;
      font-weight:bold;
    }
    .top{
      font-size: 18px;
    }
    .top:hover {
      color: #ec7906;
    }
    .rounded-circle {
      width: 230px;
    }
    .card-name{
      color: #34495E;
      font-size: 30px;
      margin-top: 30px;
    }
  }