@media screen and (max-width:767px) {
  /*画面サイズが767px以下の場合読み込む（スマホ）*/
    .follow{
      overflow-wrap:normal;
    }
    .follow{
      overflow-wrap:break-word;
    }
  }
@media screen and (min-width:768px){
  /*画面サイズが768px以上の場合読み込む（PC）*/
    .follow{ 
      overflow-wrap:normal;
    }
    .follow{
      overflow-wrap:normal;
    }
    .follow img{
      width: 210px;
    }
    .follow .follow_image img{
      width: 210px;
    }
  }