@media screen and (max-width:767px) {
  /*画面サイズが767px以下の場合読み込む（スマホ）*/
    .profileEdit{
      overflow-wrap:normal;
    }
    .profileEdit{
      overflow-wrap:break-word;
    }
    .user_image img{
      width: 80%;
      height: 190px;
      margin-left: 35px;
      justify-content:space-between;
      display:flex;
    }
  }
@media screen and (min-width:768px){
  /*画面サイズが768px以上の場合読み込む（PC）*/
    .profileEdit{ 
      overflow-wrap:normal;
    }
    .profileEdit{
      overflow-wrap:break-word;
    }
    .user_image img{
      width: 260px;
      height: 180px;
      justify-content:space-between;
      display:flex;
    }
  }