@media screen and (max-width:767px) {
  /*画面サイズが767px以下の場合読み込む（スマホ）*/
    .font{
      color: #34495E;
      font-weight:bold;
      font-size: 22px;
    }
    .application_status{
      font-size: 14px;
      font-weight:bold;
    }
    .applicationAmount{
      font-size: 21px;
    }
    .transferApplicationHistory{
      color: #888;
      font-size: 18px;
    }
    .transferApplication{
      font-size: 17px;
    }
    .transferApplication:hover {
      color: #ec7906;
    }
  }
@media screen and (min-width:768px){
  /*画面サイズが768px以上の場合読み込む（PC）*/
    .font{
      color: #34495E;
      font-size: 32px;
      font-weight:bold;
    }
    .application_status{
      font-size: 18px;
      font-weight:bold;
    }
    .applicationAmount{
      font-size: 27px;
    }
    .transferApplicationHistory{
      color: #888;
      font-size: 21px;
    }
    .transferApplication{
      font-size: 18px;
    }
    .transferApplication:hover {
      color: #ec7906;
    }
  }